//mengatur huruf / teks

body {
    font-family: "Lato", sans-serif; /*jenis font*/
    font-weight: 400; /*ketebalan font*/
    /* font-size: 16px; /*ukuran font*/
    line-height: 1.7; /*tinggi baris*/
    color: $color-grey-dark; /*warna font*/
   
  }

.heading-primary { /*pertama*/
    color: $color-white;
    text-transform: uppercase; /*huruf besar*/
  
    backface-visibility: hidden;
    margin-bottom: 6rem; /* mengatur jarak dengan element yang dibawahnya*/

  
    &--main {
      display: block; /*memaksa elemen untuk dibawahnya*/ /*inline block=elemen disebelahnya satu baris*/
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: 3.5rem;
    
      animation-name: moveInLeft; /*nama animasi*/
      animation-duration: 1s; /*durasi animasi*/
      animation-timing-function: ease-out;

      @include respond(phone) {
        letter-spacing: 1rem;
        font-family: 5rem;
      }
    
    
      /*animation-delay: 3s; terlambat
      animation-iteration-count: 3; 3 kali muncul
      */
    }
    
    &--sub {
      display: block; /*memaksa elemen untuk dibawahnya*/
      font-size: 2rem; /*ukuran font*/
      font-weight: 700; /*ketebalan font*/
      letter-spacing: 1.75rem; /* awal= 17.4px jarak perkata perhuruf*/
      animation: moveInRight 1s ease-out;

      @include respond(phone) {
        letter-spacing: .5rem;
      }
    }
  }
  
  .heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);

    -webkit-background-clip: text; 
    //browser berbasis WebKit (seperti Chrome dan Safari).
    //warna atau gambar latar belakang) akan terlihat hanya di dalam area teks

    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;

    @include respond(tab-port) {
      font-size: 3rem;
    }

    @include respond(phone) {
      font-size: 2.5rem;
    }

    &:hover {
      transform: skewY(2deg) //Ini miringkan elemen sepanjang sumbu vertikal (Y-axis) sebanyak 2 derajat
      skewX(15deg) //Ini miringkan elemen sepanjang sumbu horizontal (X-axis) sebanyak 15 derajat.
      scale(1.1); 

      text-shadow: .5rem 1rem 2rem rgba($color-black, .2); 
      //horizontal, vertikal, blur, (warna shadow, transparasi)
    }
  }

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
